{% extends 'base.html' %}
{% load static %}

{% block title %}Device select{% endblock title %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-narrow has-text-centered">
        <h1 class="title is-3">Devices for organization {{ org.name }} (ID {{ org.id }}) </h1>
    <p class="mt-5">API Token: {{ token }}</p>
    <p><a href="{% url 'home' %}">change API Token</a></p>
    
        <form class="mt-5 is-flex is-align-content-center is-justify-content-center" id="my-form" hx-get="{% url 'devices' %}" hx-target="#dev-list" hx-indicator=".loader">
            <input type="hidden" name="token" value="{{ token }}">
            <div class="field has-addons">
                <div class="control"><input type="text" class="input is-primary is-small" placeholder="Famoco ID" name="device_filter" id="device_filter" value="{{ device_filter }}"></div>
                <div class="control"><button type="submit" class="button is-primary is-small">filter</button></div>
            
            </div>
            
        </form>
    <h2 class="mt-5 is-size-5 has-text-weight-bold">devices with certificates</h2>
    <div id="dev-list" hx-get="{% url 'devices' %}?token={{ token }}&device_filter={{ device_filter }}" hx-trigger="load" hx-indicator=".loader"></div>
    </div>
    
</div>


<div class="htmx-indicator loader">
    <img src="{% static 'spin.svg' %}" alt="spinned"  >
</div>
{% endblock content %}  