{% extends 'base.html' %} {% block title %}Home{% endblock title %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-narrow has-text-centered">
    <h1 class="title is-3">
      Famoco Certreset
    </h1>

    <form action="{% url 'devices' %}" method="get" class="mt-5 is-flex is-align-content-center is-justify-content-center">
      <div class="field has-addons">
        <div class="control"><input type="text" class="input is-primary is-small" name="token" id="token" placeholder="API Token"></div>
        <div class="control"><button type="submit" class="button is-primary is-small">Submit</button></div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
