{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-narrow has-text-centered">
    <h1 class="title is-3">
      Famoco Certreset
    </h1>

    <form action="{% url 'devices' %}" method="get" class="mt-5 is-flex is-align-content-center is-justify-content-center">
      <div class="field has-addons">
        <div class="control"><input type="text" class="input is-primary is-small" name="token" id="token" placeholder="API Token"></div>
        <div class="control"><button type="submit" class="button is-primary is-small">Submit</button></div>
      </div>
    </form>

    <h2 class="mt-6 is-size-5 has-text-weight-bold">Where to find this token ?</h2>
    <p class="mt-5">
      You need an enterprise MDM plan to generate an API token.<br>
      Go to the API Access menu, and create a token with organization read permission and
      device read and clear certificate permission.
    </p>
    <p class="mt-5">
      <img src="{% static 'api_token.png' %}" alt="mdm token screenshot">
    </p>
  </div>
</div>
{% endblock content %}
